<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/AnkitKumar/IdeaProjects/TrainingProject">
        <classes>
            <class name="Test.Loginpage">
                <methods>
                    <include name="forgetPass"/>
                    <include name="login"/>

                </methods>
            </class>

            <class name="Test.HomePage">
                <methods>
                    <include name="verify"/>
                    <include name="logout"/>
                </methods>
            </class>

        </classes>
    </test>
</suite>